@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron text-center">
    <h1>Matt's Guitar Store</h1>
    <p class="lead">We specialize in Guitars, Amplifiers, and Effects Pedals.</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <h2>@Html.ActionLink("Electric Guitars", "List/Guitar", "Product")</h2>
                </div>
                <div class="panel-body">
                    <p>
                        @Html.ActionLink("Click here for our electric guitar collection", "List/Guitar", "Product")
                    </p>
                    <a href="@Url.Action("List/Guitar", "Product")"> <img class="img-responsive" src="~/images/electricguitars.jpg" /> </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <h2>@Html.ActionLink("Amplifiers", "List/Amplifier", "Product")</h2>
                </div>
                <div class="panel-body">
                    <p>
                        @Html.ActionLink("See our amplifiers", "List/Amplifier", "Product")
                    </p>
                    <a href="@Url.Action("List/Amplifier", "Product")"> <img class="img-responsive" src="~/images/amplifiers.jpg" /> </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <h2>@Html.ActionLink("Effects Pedals", "List/Effect", "Product")</h2>
                </div>
                <div class="panel-body">
                    <p>
                        @Html.ActionLink(" We have a large selection of effects pedals", "List/Effect", "Product")
                    </p>
                    <a href="@Url.Action("List/Effect", "Product")"> <img class="img-responsive" src="~/images/effectspedals.jpg" /> </a>
                </div>
            </div>
        </div>
    </div>
</div>