@model IEnumerable<GuitarStore.Models.Effects>
@{
    ViewBag.Title = "List";
}

<div class="row">
    @foreach (var effects in Model)
    {
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <h2>@effects.Make @effects.Model</h2>
                    <h4>@effects.Type</h4>
                </div>
                <div class="panel-body">
                    <img class="img-responsive" src="@effects.Image" />
                </div>
                <div class="panel-footer">
                    @Html.ActionLink("Click for more information!", "Index", new { ID = effects.ID })
                </div>
            </div>
        </div>
    }
</div>