<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Matt's Guitar Store</title>
    @Styles.Render("/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*@Scripts.Render("~/bundles/font-awesome")
        @Styles.Render("~/bundles/font-awesome")*@
    <script src="https://use.fontawesome.com/c5ff75be42.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" class="navbar-brand"><img class="img-responsive" id="guitar-icon" src="~/images/guitar-icon.png" alt="guitar-icon" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Guitars", "List/Guitar", "Product")</li>
                    <li>@Html.ActionLink("Amplifiers", "List/Amplifier", "Product")</li>
                    <li>@Html.ActionLink("Effects Pedals", "List/Effect", "Product")</li>
                    <li>@Html.ActionLink("Our Location", "Location", "Home")</li>
                    <li>@Html.ActionLink("About Us", "About", "Home")</li>
                    <li><a href="@Url.Action("Index", "Cart")"><span class="fa fa-shopping-cart"></span>Cart</a></li>
                    <li class="btn-group open">
                        <a class="btn btn-primary-outline" href="#"><i class="fa fa-cogs fa-fw"></i> Account</a>
                        <a class="btn btn-primary-outline dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li><span><i class="fa fa-sign-out fa-fw"></i>@Html.ActionLink("Sign Out", "SignOut", "Account")</span></li>
                                <li><span><i class="fa fa-info fa-fw"></i>Logged in as @User.Identity.Name</span></li>
                            }
                            else if (User.Identity.IsAuthenticated == false)
                            {
                                <li><span><i class="fa fa-registered fa-fw"></i>@Html.ActionLink("Register", "Register", "Account")</span></li>
                                <li><span><i class="fa fa-sign-in fa-fw"></i>@Html.ActionLink("Log In", "Login", "Account")</span></li>
                            }
                        </ul>
                        @if (User.Identity.IsAuthenticated)
                        {
                        <li style="color:#9d9d9d; padding-left:50px;" class="navbar-btn pull-right">Welcome, @User.Identity.Name</li>
                        }
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid body-content">
            @RenderBody()
        </div>
        <footer>
            <li style="color:white;"> &copy; @DateTime.Now.Year - Matt's Guitar Store</li>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>