
@model GuitarStore.Models.Guitar
@{
    ViewBag.TItle = "Index";
}

<div class="row">
    <div class="col-xs12, col-md-4 col-md-offset-4">
        <div class="panel">
            <div class="panel-heading">
                <h3>@Model.Make @Model.Model</h3>
            </div>
            <div class="panel-body">
                <p>@Model.Color</p>
                <p>@Model.Description</p>
                <p>@Model.Price.ToString("C")</p>
                <img class="img-responsive" src="@Model.Image" />
            </div>
            <div class="panel-footer">
                @Html.ActionLink("Return to Guitars", "List", "Guitar")
            </div>
        </div>
    </div>
</div>
