@model Braintree.Customer
@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName)
    </div>
    <div>
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName)
    </div>
    @Html.HiddenFor(m => m.Id)
    <input type="submit" value="Save Changes" />
}