
@model GuitarStore.Models.Amplifier
@{
    ViewBag.TItle = "Index";
}

<div class="row">
    <div class="col-xs12, col-md-4 col-md-offset-4">
        <div class="panel">
            <div class="panel-heading">
                <h2>@Model.Make @Model.Model</h2>
            </div>
            <div class="panel-body">
                <p>@Model.Watts</p>
                <p>@Model.Size</p>
                <p>@Model.Description</p>
                <p>@Model.Price.ToString("C")</p>
                <img class="img-responsive" src="@Model.Image" />
            </div>
            <div class="panel-footer">
                @Html.ActionLink("Return to Amplifiers", "List", "Amplifier")
            </div>
        </div>
    </div>
</div>
