@model IEnumerable<GuitarStore.Models.Product>
@{
    ViewBag.Title = "List";
}
@Styles.Render("/Content/css")

<div class="row">
    @foreach (var product in Model)
    {

        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <h2>@Html.ActionLink(@product.Make.Name + " " + @product.Mod, "Index", new { ID = product.ID })</h2>
                </div>
                <div class="panel-body">
                    <a href="@Url.Action("Index", "Product", new { ID = product.ID } )"> <img> <img class="img-responsive" src=@product.Image /> </a>
                </div>
                <div class="panel-footer">
                    @Html.ActionLink("Click for more information!", "Index", new { ID = product.ID })
                </div>
            </div>
        </div>

    }
</div>