@model GuitarStore.Models.CheckoutDetails
@{
    ViewBag.Title = "Checkout";

    var subTotal = Model.CurrentCart.CartProducts.Sum(x => x.Product.Price * x.Quantity) ?? 0;
    var shippingAndHandling = Model.CurrentCart.CartProducts.Sum(x => x.Quantity);
    var tax = (Model.CurrentCart.CartProducts.Sum(x => x.Product.Price * x.Quantity) ?? 0) * .1025m;
}

<div class="row">
    <div class="col-xs-12">
        <h2>Checkout</h2>
    </div>
    <div class="col-xs-12 col-sm-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Item Total</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.CurrentCart.CartProducts.Count; i++)
                {
                    <tr>

                        <td>
                            @Model.CurrentCart.CartProducts.ElementAt(i).Product.MakeName
                        </td>
                        <td>
                            @Model.CurrentCart.CartProducts.ElementAt(i).Quantity
                        </td>
                        <td>
                            @((Model.CurrentCart.CartProducts.ElementAt(i).Product.Price ?? 0).ToString("C"))
                        </td>
                        <td>@(((Model.CurrentCart.CartProducts.ElementAt(i).Quantity * Model.CurrentCart.CartProducts.ElementAt(i).Product.Price) ?? 0).ToString("C"))</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="3">Subtotal</th>
                    <th>@subTotal.ToString("C")</th>
                </tr>
                <tr>
                    <th colspan="3">Shipping and Handling</th>
                    <th>@shippingAndHandling.ToString("C")</th>
                </tr>
                <tr>
                    <th colspan="3">Tax</th>
                    <th>@tax.ToString("C")</th>
                </tr>
                <tr>
                    <th colspan="3">Total</th>
                    <th>@((tax + shippingAndHandling + subTotal).ToString("C"))</th>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="col-xs-12 col-sm-6">
        @using (Html.BeginForm())
        {
            @*<div class="alert alert-danger">
                    @Html.ValidationSummary(false)
                </div>*@
            <div class="form-group">
                @Html.LabelFor(m => m.ContactName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.ContactName, new { @class = "form-control", placeholder = "Your Name" })
                @Html.ValidationMessageFor(m => m.ContactName)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ContactEmail, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.ContactEmail, new { @class = "form-control", placeholder = "Your Email Address" })
                @Html.ValidationMessageFor(m => m.ContactEmail)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ShippingAddress, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.ShippingAddress, new { @class = "form-control", placeholder = "Address" })
                @Html.ValidationMessageFor(m => m.ShippingAddress)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ShippingCity, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.ShippingCity, new { @class = "form-control", placeholder = "City" })
                @Html.ValidationMessageFor(m => m.ShippingCity)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ShippingState, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.ShippingState, new { @class = "form-control", placeholder = "State" })
                @Html.ValidationMessageFor(m => m.ShippingState)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ShippingPostalCode, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.ShippingPostalCode, new { @class = "form-control", placeholder = "Zip Code" })
                @Html.ValidationMessageFor(m => m.ShippingPostalCode)
            </div>

            <input type="submit" class="btn btn-primary" />
        }
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}